@media only screen and (max-width: 479px){
 
 body{
background-color: none;

 }

#home{
background:linear-gradient(rgba(34,54,69,0.8),rgba(34,54,69,0.8)),url(../Image/header.jpg);
height:90vh;
background-position: 100%;
background-size: cover;
border: 1px solid none;
}


.header__title{
position: absolute; 
top:50%;
left: 51%;
width:95%;
transform: translate(-50% , -50%);
border: 1px solid none;

}



.header__title h1{
  font-style: normal;
  color: white;
  font-weight:800;
  letter-spacing: 1.5px;
word-spacing: 1.2px;
font-size:50px;
line-height:50px;
font-family: 'Amiri', serif;
border: 1px solid none;
}


.small__title{
font-size:14px;
font-family: 'Poppins', serif;
font-weight:500;
line-height: 23px;
width: 100%;
margin: 10px;
color: rgb(249,249,249,0.9);
text-transform:capitalize;
letter-spacing: 1.2px;
position: relative;
}


/*===========================
     Client Customer help 
===========================*/


.boxx22{
background-color: #e12454;
padding: 60px;
text-align: left;
position: relative;
border-bottom: 1px solid rgba(249,247,247,0.3);
border: 1px solid none;
}


.hero__title__text h4{
 font-size:18px;
font-family: 'Poppins', serif;
font-weight:800;
margin:0px;
color: #FFF;
text-transform:capitalize;
letter-spacing:0.5px;
position: relative;
top:20px;
}



.boxx33{
background-color: #283B49;
padding: 50px;
text-align: left;
border-right: 1px solid rgba(249,247,247,00.1);
}


.hero__title__text1 h4{
 font-size:20px;
font-family: 'Poppins', serif;
font-weight:800;
margin:0px;
color: #FFF;
text-transform:capitalize;
letter-spacing: 1.2px;
position: relative;
top:10px;
margin-left: 25px;

}

.img1 img{
  position: relative;
  top: 0px;
  width: 40px;
  left:20px;
}


/*===========================
    Amazing Feature
===========================*/


.hero__amazing__feature{
padding: 0px;
margin-top:60px;
}


.hover-boxx{

 box-shadow: 2px 8px 30px rgb(92 104 152 / 10%);
}

.hero__title__name{
  text-align: left;
  width:95%;
  margin: 0;
  margin-left: 15px;
}

.hero__title__name h1{
  font-size: 35px;
}


.hero__title__name::before{
  content: "";
  width:80px;
  height:5px;
  background-color:#e12454;
  top:35%;
  left:0px;
  position: absolute;
}

.hero__title__name::after{
  content: "";
  width:10px;
  height: 5px;
  background-color:#283b49;
  top:35%;
  left:90px;
  position: absolute;
}

.hero__item_Feature__1{
border: 1px solid none;
padding: 30px;
background-color: white;
width: 100%;
position: relative;
top: -100px;
left:0px;
 box-shadow: 2px 8px 30px rgb(92 104 152 / 10%);
}


.hero__img{
  border: 1px solid none;
  height: 380px;
background: url('../Image/wordpress.jpg');
background-repeat: no-repeat;
background-size: cover;

}

.hero__feature__container{
margin-top: 50px;

}


/* Card -- 2 ----*/

.hero__img1{
  border: 1px solid none;
height: 350px;
background: url('../Image/custom-web-design.jpg');
background-repeat: no-repeat;
background-size: cover;


}


.hero__item_Feature__2{
  border: 1px solid none;
  padding: 30px;
  background-color: white;
  width: 100%;
  position: relative;
  top: -100px;
  left:0px;
      box-shadow: 2px 8px 30px rgb(92 104 152 / 10%);
  
  }


   /* Card --- 3 ---- */

.hero__img2{
  border: 1px solid none;
height: 350px;
background: url('../Image/ecommerce.jpg');
background-repeat: no-repeat;
background-size: cover;
}




  .hero__item_Feature__3{
    border: 1px solid none;
    padding: 30px;
    background-color: white;
    width:100%;
    position: relative;
    top: -100px;
    left:0px;
        box-shadow: 2px 8px 30px rgb(92 104 152 / 10%);
    }



    /* Card --- 4 ----- */


    .hero__img3{
  border: 1px solid none;
height: 350px;
background: url('../Image/landing.png');
background-repeat: no-repeat;
background-size: cover;
}



   .hero__item_Feature__4{
  border: 1px solid none;
  padding: 30px;
  background-color: white;
  width:100%;
  position: relative;
  top: -100px;
  left:0px;
      box-shadow: 2px 8px 30px rgb(92 104 152 / 10%);
  
  }




/*===========================
    Service Section 
===========================*/


.overlap-section11{
background-color:#283b49;
padding: 80px 0px;

}


.service__title{
width:100%;
text-align: center;
line-height: 25px;

}


.service_container::before{
	display: none;
}



/*===========================
    Price Section
===========================*/

.price__section{
margin-top: 80px;
margin-bottom: 50px;
}


.price__title{
width:100%;
text-align: center;
}


.price__card{
padding: 30px;
background-color: #EBF5F5;
transition: 0.5s ease-in-out;
cursor: pointer;
margin-bottom:30px;

}

.price__color{
  background-color: white;
   box-shadow:0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  position: relative;
  top: 40px;
 margin-bottom: 70px;
}



.contact__msg{
margin: 10px;
border: none;
width:100%;
margin-left: -5px;
padding: 33px;
 background:linear-gradient(rgba(222,51,46,0.1),rgba(222,51,46,0.1));
}

.step-by-step-process::before{
  display: none;
}


.contact__form::before{
 display: none;

  }

.step-by-step-process{
 padding: 0;
padding-bottom: 70px;
}

.infomation-gathering{
margin:10px 20px;
padding-top: 50px;
}

.process{
 margin-top: -20px;
 margin:5px;
}

.Contact__form__info{
 background-color:white;
   padding: 30px;
   box-shadow:0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
letter-spacing: 1.5px;
color: #051446;
position: relative;
left:0px;
top:-80px;
}

.input__name{
   margin-left: 0;
    width: 100%;
  

}


.submit{
margin-left:0px;
}

.contact__form{

  margin-bottom:-130px;
}


}